*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*font-size: 10px;*/ /* the number 10 is easy to calculate the rem values. ect 2rem, 3rem, etc */
    //this defines what 1rem means...
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}